<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app is created by using MAPBOX and WeatherStack API's</p>
        <img class ="potrait" src="/img/8190000250.jpg">
    </div>

    {{>footer}}
</body>

</html>